<div class="modal" tabindex="-1" id="help-modal" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color:#d9d9d9">
      <div class="modal-header">
        <div class="d-flex flex-row justify-content-center w-100">
          <h5 class="modal-title">Sobre</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center align-items-center w-100">
        <p>O projeto tem a intenção de introduzir os conceitos básicos de instalações elétricas residenciais em uma plataforma
        interativa em formato de desafios. São abordados exemplos de conexão de condutores em tomadas, lâmpadas e em suas
        variadas ligações. Além disso, a aplicação traz uma experiência de gamificação permitindo uma visualização de
          relatórios e ranking de resultados</p>
      </div>
    </div>
  </div>
</div>