<div class="modal" tabindex="-1" id="help-modal" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color:#d9d9d9">
      <div class="modal-header">
        <div class="d-flex flex-row justify-content-center w-100">
          <h5 class="modal-title">Ajuda</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center align-items-center w-100">
        <img src="https://imagens-revista-pro.vivadecora.com.br/uploads/2019/10/Exemplo-de-diagrama-unifilar-em-consult%C3%B3rio-foto-portal-da-engenharia.png" alt="" class="w-75">
        <p>Texto informativo sobre como usar a aplicação interativamente</p>
      </div>
    </div>
  </div>
</div>