{% extends "core/components/base.html" %}

{% block style %}
#content {
    min-height: 70vh;
}
{% endblock %}

{% block content %}
    <div id="content" class="d-flex flex-column justify-content-between align-items-center h-100">
        <div id="header" class="d-flex flex-column justify-content-center align-items-center">
            <h1>InstalELT</h1>
            <img src="https://media-public.canva.com/cIUhQ/MAELrRcIUhQ/1/t.png" width="100px" height="100px">
        </div>
        <div id="info">
            <p>Texto informativo sobre o jogo</p>
        </div>

        <div id="buttons-container" class="d-flex flex-column justify-content-between">
            <button type="button" class="btn btn-primary my-1" id="start-challenge"><i class="fas fa-play mx-2"></i> Iniciar</button>
            <button type="button" class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-target="#help-modal"><i class="fas fa-list-ol mx-2"></i>Ranking</button>
            <button type="button" class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-target="#help-modal"><i class="fas fa-question-circle mx-2"></i>Ajuda</button>
            <button type="button" class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-target="#help-modal"><i class="fas fa-info-circle mx-2"></i>Sobre</button>

        </div>
    </div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(()=> {
        $("#start-challenge").click(() => {
            window.location = "{% url 'core:new-challenge' %}"
        })
    })
</script>
{% endblock %}