{% extends "core/components/base.html" %}

{% block style %}
#content {
min-height: 70vh;
}
p{
margin: 0px 0px;
}
{% endblock %}

{% block content %}
<div id="content" class="d-flex flex-column align-items-center justify-content-evenly">
    <div id="header" class="d-flex flex-row justify-content-center align-items-center">
        <img src="https://media-public.canva.com/cIUhQ/MAELrRcIUhQ/1/t.png" width="80px" height="80px">
        <h1>InstalELT</h1>
    </div>
     <p>Entre com seu nome de jogador e senha para poder jogar</p>
    <form method="post" action="{% url 'core:login' %}" id="login-form">
         {% csrf_token %}
        {% for field in form %}
        <div>{{field.label}} {{field}} {{field.errors}}</div>
        {% endfor %}
    </form>
    <button type="button" class="btn btn-primary my-3 mx-auto" id="login-btn"><i
            class="fas fa-play mx-2"></i> Entrar
    </button>




</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(()=> {
        let btn = $("#login-btn")
        let form = $("#login-form")
        $("input").addClass("form-control")

        btn.click(() => {
            disableButtonAfterSubmit(btn, "Entrando ...")
            form.submit()
        })
    })

</script>
{% endblock %}