{% extends "core/components/base.html" %}

{% block style %}
#content {
min-height: 70vh;
}
p{
margin: 0px 0px;
}
{% endblock %}

#toggle-password-btn {
    border: 1px solid #ced4da;
}

{% block content %}
<div id="content" class="d-flex flex-column align-items-center justify-content-evenly">
    <div id="header" class="d-flex flex-row justify-content-center align-items-center">
        <img src="https://media-public.canva.com/cIUhQ/MAELrRcIUhQ/1/t.png" width="80px" height="80px">
        <h1>InstalELT</h1>
    </div>
    <p>Entre com seu nome de jogador e senha para poder jogar</p>
    <form method="post" action="{% url 'core:login' %}" id="login-form">
        {% csrf_token %}

        <div>Usuário <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                            maxlength="150" required="" id="id_username" class="form-control"
        ></div>
        <div>Senha
            <div class="input-group mb-3">

                <input type="password" name="password" autocomplete="current-password" required="" id="id_password"
                       class="form-control">
                <button class="btn btn-light" type="button" id="toggle-password-btn"><i
                        class="toggle-password fas fa-eye"
                        id="toggle-password"></i>
                </button>
            </div>
            <div>


            </div>
        </div>

    </form>
    <button type="button" class="btn btn-primary my-3 mx-auto" id="login-btn"><i
            class="fas fa-play mx-2"></i> Entrar
    </button>




</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(()=> {
        let btn = $("#login-btn")
        let form = $("#login-form")
        let togglePassword = $("#toggle-password")

        btn.click(() => {
            disableButtonAfterSubmit(btn, "Entrando ...")
            form.submit()
        })

        togglePassword.click(() => {
          let passwordInput = form.find("#id_password")
          const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
          passwordInput.attr('type', type);
          togglePassword.toggleClass('fa-eye-slash');
});
    })

</script>
{% endblock %}