{% extends "core/components/base.html" %}

{% block style %}
#content {
min-height: 70vh;
}
{% endblock %}

{% block content %}
<div id="content" class="d-flex flex-column align-items-center justify-content-evenly">
    <div id="header" class="d-flex flex-row justify-content-center align-items-center">
         <img src="https://media-public.canva.com/cIUhQ/MAELrRcIUhQ/1/t.png" width="80px" height="80px">
        <h1>InstalELT</h1>
    </div>
    <div id="info">

    </div>
    <form action="{% url 'core:new-challenge' %}" method="POST" id="new-challenge-form">
        {% csrf_token %}
        <p>Olá, pronto para jogar? Nos diga como deseja ser chamado!</p>
        <div class="d-flex flex-column mx-auto">
            <label for="nickname" class="col-form-label">Nome do Jogador</label>
             <input type="text" class="form-control" id="nickname" name="nickname">
        </div>
    </form>
            <button type="button" class="btn btn-primary my-3 mx-auto disabled" id="create-challenge-btn"><i class="fas fa-play mx-2"></i> Jogar</button>


</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(()=> {
        let btn = $("#create-challenge-btn")
        let form = $("#new-challenge-form")
        let nickname = form.find("#nickname")

        btn.click(() => {
            disableButtonAfterSubmit(btn, "Criando desafio ...")
            form.submit()
        })

        nickname.on("input", () => {
        console.log(nickname)
            if(nickname.val().length == 0){
                btn.addClass("disabled")
            } else{
                btn.removeClass("disabled")
            }
        })
    })

</script>
{% endblock %}