{% extends "core/components/base.html" %}

{% block style %}
#content {
min-height: 70vh;
}
canvas {
  border: 1px solid #000;
}
{% endblock %}

{% block content %}
<div id="content" class="d-flex flex-column align-items-center justify-content-between">
    <div style="top:5px;position:fixed">
        <div id="header" class="d-flex flex-row justify-content-center align-items-center my-3">
            <img src="https://media-public.canva.com/cIUhQ/MAELrRcIUhQ/1/t.png" width="35px" height="35px">
            <h1 class="fs-4 mx-2 my-auto">InstalELT</h1>

        </div>

    </div>
<h2>Ranking De Jogadores</h2>
<table class="table table-striped w-100" id="ranking-table">
    <thead>
    <tr>
        <th scope="col" class="text-center">Nº</th>
        <th scope="col" class="text-center">Jogador</th>
        <th scope="col" class="text-center">Pontuação Acumulada</th>
        <th scope="col" class="text-center">Desafios</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-center">1</td>
        <td class="text-center">Lucas</td>
        <td class="text-center">90%</td>
        <td class="text-center"><a href=""><i class="fas fa-clipboard-list text-primary h4"></i></a></td>
    </tr>
    <tr>
        <td class="text-center">1</td>
        <td class="text-center">Lucas</td>
        <td class="text-center">90%</td>
        <td class="text-center"><a href=""><i class="fas fa-clipboard-list text-primary h4"></i></a></td>
    </tr>
    <tr>
        <td class="text-center">1</td>
        <td class="text-center">Lucas</td>
        <td class="text-center">90%</td>
        <td class="text-center"><a href=""><i class="fas fa-clipboard-list text-primary h4"></i></a></td>
    </tr>
    </tbody>
</table>

</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(()=> {
        let btn = $("#create-challenge-btn")
        let form = $("#new-challenge-form")
        let nickname = form.find("#nickname")

        btn.click(() => {
            disableButtonAfterSubmit(btn, "Criando desafio ...")
            form.submit()
        })

        nickname.on("input", () => {
        console.log(nickname)
            if(nickname.val().length == 0){
                btn.addClass("disabled")
            } else{
                btn.removeClass("disabled")
            }
        })

        $('#ranking-table').DataTable();
    })

</script>
{% endblock %}