{% extends "core/components/base.html" %}
{% load static %}
{% block style %}
#content {
min-height: 70vh;
}
canvas {
  border: 1px solid #000;
}
{% endblock %}

{% block content %}
<div id="content" class="d-flex flex-column align-items-center justify-content-start">
     <div style="top:5px;position:fixed;left:15px">
        <div id="header" class="d-flex flex-row justify-content-center align-items-center">
            <img src="{% static 'images/logo.png' %}" style='width: 30px; object-fit: contain'>
            <h4 style="color:#58595B" class="my-0">InstalELT</h4>
        </div>
    </div>
<h2 class="mb-3">Ranking De Jogadores</h2>
<table class="table table-striped w-100" id="ranking-table">
    <thead>
    <tr>
        <th scope="col" class="text-center">Nº</th>
        <th scope="col" class="text-center">Jogador</th>
        <th scope="col" class="text-center">Pontuação</th>
        <!--th scope="col" class="text-center">Desafios</th-->
    </tr>
    </thead>
    <tbody>
    {% for attempt in ranking %}
    <tr>
        <td class="text-center">{{forloop.counter}}</td>
        <td class="text-center">{{attempt.nickname}}</td>
        <td class="text-center">{{attempt.score}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(()=> {
        let btn = $("#create-challenge-btn")
        let form = $("#new-challenge-form")
        let nickname = form.find("#nickname")

        btn.click(() => {
            disableButtonAfterSubmit(btn, "Criando desafio ...")
            form.submit()
        })

        nickname.on("input", () => {
        console.log(nickname)
            if(nickname.val().length == 0){
                btn.addClass("disabled")
            } else{
                btn.removeClass("disabled")
            }
        })

        $('#ranking-table').DataTable();
    })

</script>
{% endblock %}